.return_test {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px auto;
  .submit_btn {
    cursor: pointer;
    width: 160px;
    padding: 10px;
    color: #ffffff;
    background-color: #9378ff;
    font-size: 15px;
    border-radius: 30px;
    &:hover {
      background: #8d70ff;
      transition: all 0.2s ease;
    }
  }
}

.outer {
  text-align: center;
}

.result_score {
  text-align: center;
  margin-bottom: 10px;
  background: linear-gradient(to top, #ddd1f7f5, #f8f5fff5);
}
.result_description2 {
  display: flex;
  background-color: #fae9ff;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  margin: 15px 2%;
  .result_description {
    margin: 5% 3%;
    width: 100%;
    font-size: 15px;
    text-align: center;
  }
}

.check_result {
  text-align: center;
  margin-bottom: 10px;
  background: linear-gradient(to top, #ddd1f7f5, #f8f5fff5);
}
