.title {
  font-size: 1rem;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.question-title {
  padding: 10px;
}

.subtitle {
  text-align: center;
}

.main {
  margin: 20px;
}

.go_MMSE {
  cursor: pointer;
  font-size: 20px;
  color: white;
  width: 250px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #9378ff;
  padding: 10px;
  position: relative;
  
  margin: 30px 50px;
  &:hover {
    background-color: #8d70ff;
    transition: all 200ms ease;
  }
}

.notice_title {
  text-align: center;
  margin-bottom: 3px;
}

.answer_btn {
  display: flex;
  justify-content: space-around;
}

.MMSE_notice {
  padding: 20px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 10px;
  background-color: #fae9ff;
  font-size: 15px;
  font-weight:550;
}

.input_question {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.MMSE_input {
  padding: 15px;
}
