.footer {
  height: 75px;
  width: 100%;
  background: #ffffffec;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  text-align: center;
  div {
    width: 70px;
    justify-content: space-around;
    .icon_img {
      transition: all 0.2s ease;
      width: 30px;
      height: 30px;
      filter: opacity(40%);
    }
    p {
      transition: all 0.2s ease;
      font-size: 10px;
      color: #9378ff;
      filter: opacity(40%);
    }
    &:hover {
      .icon_img {
        filter: opacity(100%);
      }
      p {
        filter: opacity(100%);
      }
    }
  }
}
