.footer {
  height: 70px;
  width: 100%;
  background: #ffffffec;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  .icon_img {
    transition: all 0.2s ease;
    width: 25px;
    height: 25px;
    filter: opacity(40%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon_img:hover {
    filter: opacity(100%);
  }
}
