@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

// @font-face {
//   font-family: "RedHatDisplay";
//   /* src: url("../fonts/PorscheNextWLa-Bold.ttf"); */
//   src: url("../fonts/RedHatDisplay-Regular.ttf");
// }

/* https주의 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

// .noto {
//   font-family:  sans-serif;
// }

/* 여백 초기화 */
body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form,
figure,
figcaption {
  margin: 0;
  padding: 0;
}
body {
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}

/* a 링크 초기화 */
a {
  color: #222;
  text-decoration: none;
}
a:hover {
  color: #b63ac2;
}

/* 폰트 초기화 */
body,
input,
textarea,
select,
button,
table {
  font-family: "Noto Sans KR", AppleSDGothicNeo-Regular, "Malgun Gothic",
    "맑은 고딕", dotum, "돋움", sans-serif;
  color: #222;
  font-size: 13px;
  line-height: 1.5;
}

/* 폰트 스타일 초기화 */
em,
address {
  font-style: normal;
}

/* 블릿기호 초기화 */
ul,
li,
ol {
  list-style: none;
}

/* 제목 태그 초기화 */
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-size: 13px;
//   font-weight: normal;
// }

/* 테두리 초기화 */
img,
fieldset {
  border: 0 none;
}

/* 버튼 초기화 */
button {
  border: 0;
}

/* 반응형 */
video,
img {
  width: 100%;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
  display: block;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.container {
  position: relative;
  // test
  // background-color: #ccc;
  width: 380px;
  margin: 0 auto;
}

.row {
  padding: 0 28px;
}

body {
  background-color: #faf9fe;
}
