.menu__bar {
  font-size: 30px;
  background-color: #f8f5ff;
  margin-left: 15px;
  cursor: pointer;
}

.logo__img {
  width: 60px;
  height: 60px;
}

.mmse__menu {
  display: flex;
  align-items: center;
}

.clock__menu {
  display: flex;
  align-items: center;
}

.depression__menu {
  display: flex;
  align-items: center;
}

.menu__discription {
  margin: 0 13px;
  color: black;
}

.discription {
  font-size: 12px;
  color: #cfcdd4;
}

.depression__button {
  color: gray;
  cursor: pointer;
  position: absolute;
  top: 95px;
  left: 300px;
  font-size: 50px;
  background-color: transparent;
}

.mmse__button {
  color: gray;
  cursor: pointer;
  position: absolute;
  top: 282px;
  left: 300px;
  font-size: 50px;
  background-color: transparent;
}

.clock__button {
  color: gray;
  cursor: pointer;
  position: absolute;
  top: 469px;
  left: 300px;
  font-size: 50px;
  background-color: transparent;
}

.mmse {
  font-size: 20px;
  background-color: #f8f5ff;
  padding: 60px;
  &:hover {
    transition: background-color 300ms linear;
    background-color: #e9e2f8f5;
  }
}

.clock {
  padding: 60px;
  font-size: 20px;
  &:hover {
    transition: background-color 300ms linear;
    background-color: #e9e2f8f5;
  }
}

.depression {
  padding: 60px;
  font-size: 20px;
  &:hover {
    transition: background-color 300ms linear;
    background-color: #e9e2f8f5;
  }
}