
.menu__title {
  font-size: 30px;
  background-color: #f8f5ff;
}

.discription {
  font-size: 5px;
  color: #cfcdd4
}

.menu__icon {
  font-size: 40px;
}

.right__button1 {
  position:absolute;
  top : 100px;
  left : 300px;
  font-size: 50px;
  background-color: transparent;
}

.right__button2 {
  position:absolute;
  top : 305px;
  left : 300px;
  font-size: 50px;
  background-color: transparent;
}


.right__button3 {
  position:absolute;
  top : 513px;
  left : 300px;
  font-size: 50px;
  background-color: transparent;
}



.mmse {
  
  font-size: 20px;
  padding:80px
}


.clock {
  padding:80px;
  background-color: #f8f5ff;
  font-size :20px;
}


.preventive {
  padding:80px;
  font-size: 20px;
}